<?xml version="6.0.7" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      throwConfigExceptions="true">

    <targets>
        <target name="logconsole" xsi:type="Console" layout="${logger}: ${message}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logconsole" />
    </rules>
</nlog>
