* {
    margin: 0px;  
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#log {
    height: 500px;
    width: 100vw;
    padding: 5px;

    background-color: black;
    color: white;
    border: 1px solid white;

    overflow-y: auto;
}

.info {
    color: rgb(138, 138, 12);
}

.choose-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 100%;
}

.panel {
    margin: auto;

    background-color: rgb(137, 137, 137);
    padding: 10px;
}
